.homePage {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.title {
  text-align: center;
}
.linkWork {
  border: solid 1px var(--primary-color);
  padding: 6px;
  border-radius: 6px;
}
.linkWork:hover {
  background-color: var(--primary-color-hover);
}
